extends layout

block content
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='https://www.google.com/jsapi', type="text/javascript")
    script(src='/javascripts/charts_func.js')
    script(src='https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js', type="text/javascript")
    link(href='https://cdn.datatables.net/1.10.13/css/jquery.dataTables.css', type="text/css", rel="stylesheet")
    .container
      .row
        div(class="col-sm-3 col-md-2 sidebar")
          ul(class="nav nav-sidebar")
            h4 Bettors:
            #bettorList
            br
            h4 Retrieve:
            button#last100bets(class="btn btn-sm btn-primary") Last 100 bets
            button#maxbets(class="btn btn-sm btn-primary") All bets 
        div(class="col-sm-9 col-md-10 main")
          div#bet_updates(class="page-header")
            h3 Bot Bet History Live Updates
            h5 
              b Data for: 
              span(class="label label-success", id="bettorHeader")
          div#chart_div
          div#tourney_chart_div
      .row
        .well
          h4
            b#recordsHeading 
            //small  (Most recent first)
          #bethistory
            table#serverTable(class="table")
              thead
                tr
                  th Name
                  th Datetime (UTC)
                  th Balance
                  th Bet Amount
                  th Tourney
              tbody
